<div class="container-fluid ">
         <div class="row text-left about_row mr-0 wow fadeInUp">
            <div class="col-md-6 pl-40 wow fadeInUp">
               <div class="title-left wow fadeInUp">
                  <h1 class="text-left">{{content.field_title.0}}</h1>
               </div>
               <p class="about_h">{{content.field_sub_title.0}}</p>
               <p class="about_bottom_h">{{content.field_description.0}}</p>
               <div class="top-banner wow fadeInRight text-left" style="visibility: visible; animation-name: fadeInRight;">
                  <a id="#services" href="{{ content.field_button_link[0]['#url']|render }}" class="btn btn-default  wow fadeInUp  js-scroll-trigger" data-wow-delay="1s" style="visibility: visible; animation-delay: 1s; animation-name: fadeInUp;">{{ content.field_button_link[0]['#title']|render }}</a>
               </div>
            </div>
            <div class="col-md-6 pr-0 clip-right" style="background: url({{content.field_banner_image.0}}) center top no-repeat">
               <p class="py-200">  </p>
            </div>
         </div>
      </div>      